---
title: Champion Moments with Alli Simpson
---
<div id="background"></div>

<div id="content" class="container">
  <%= partial 'partials/header' %>
  <%= partial 'partials/promo' %>
  <%= partial 'partials/contest' %>
</div>

<%= partial 'partials/footer' %>
<%= partial 'partials/gate' %>
